#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app{
  /* display: flex horizontal; */
  position: relative;
  width: 100%;
  height: 100%;
}
.control-container{
  display: flex vertical;
  position: absolute;
  /* border: 2px red solid; */
  left: -50vw;
}
.vertex-container{
  /* border: 2px solid blue; */
  z-index: -1;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  left: -50vw;
  top: -50vh;
}
.edge-container{
  z-index: -1;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  left: -50vw;
  top: -50vh;
}